
 table.sorting tr:not(.home)
 {
     cursor:pointer;
 }

.ui-state-highlight {
    border: 1px dashed #00ff90;
}
.headi .navbar-right li{

   margin-top:15px;
}
.headi .navbar-right li a {
    color: white;
 
}

div.new-cat{
    margin-top:30px;
    position:relative;
}

span.ajax-text {
    display:none;
}

table.catagories td {
    padding: 20px !important;
}

.ajacDivTd{
    position:absolute;
}
span.loader{
    display:none;
}
span.ajxmsg {
    color: #FF7EFA69;
    padding: 10px;
    display: none;
    position: absolute;
    bottom: 0;
}

.ib{
    display:inline-block!important;
}

